/**
 * Grids Style
 * @Author: honglei@live.com
 * @Style Group: Demo
 */
.vdemo-block {
  height: 50px;
  border: 1px solid #f7c942;
  color: #333333;
  text-shadow: 0 1px 0 white;
  padding: 0.5em;
  background: -moz-linear-gradient(center top, #fce78a, #fadb4e) repeat scroll 0 0 #fadb4e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fce78a), color-stop(1, #fadb4e));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fce78a', EndColorStr='#fadb4e')";
}

.vdemo-mod {
  margin: 1em 0.5em;
}

.vdemo-intro {
  margin: 1em 0.5em;
}

.vdemo-code {
  padding: 0.8em;
  font-size: 12px;
  overflow: hidden;
  width: 280px;
  background: #eeeeee;
}
.vdemo-code em {
  color: #999999;
}
.vdemo-code strong {
  color: red;
}
