/**
 * Grids Style
 * @Author: honglei@live.com
 * @Style Group: Font
 */
body,button {
	font: 15px Helvetica,Arial,sans-serif;
	line-height: 1.3em;
}
.vf-small {
	font-size: .8em;
	line-height: 1.2em;
}
.vf-large {
	font-size: 1.2em;
	line-height: 1.3em;
}
.blockquote {
	font-style: italic;
	color: #666;
}